{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h1>ABOUT</h1>
        <p>
          <h2>Welcome to my blog website!</h2>
          I'm a B.Tech second-year student, and I created this platform as a practice project to sharpen my skills and share my interests. This website is a space where anyone can register or log in to create and share blog posts about various topics. Once registered, users can engage with others by commenting on their posts, making it a lively and interactive community.
        </p>
        <p>
          <h2>Features of the Blog</h2>
          <li><strong>Create and Share Posts:</strong> Registered users can create blog posts on any topic they like. Whether it's about your hobbies, opinions, or stories, this is the place to express yourself.</li>

          <li><strong>Comment on Posts:</strong> Engage with the community by leaving comments on other users' posts, fostering interaction and feedback.</li>

          <li><strong>Contact Form:</strong> If you wish to get in touch with me, there's a contact form available on the website. I'm always open to feedback, suggestions, or just a friendly chat.</li>
        </p>
        <p>
          This project was built using Python, Flask, and SQL, reflecting my journey in learning and applying web development skills. I hope you enjoy using the site as much as I enjoyed building it. Happy blogging!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
